.homeWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex: 1;
  padding-top: 70px;
  .sloganWrapper {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 42px;
      font-weight: 700;
      color: #ad82d9;
    }
    .slogan {
      font-size: 30px;
      font-weight: 600;
      color: #ada2f2;
    }
    .subSlogan {
      font-size: 22px;
      color: #b7aef2;
    }
    .ratingButton {
      font-size: 18px;
      background-color: #f291a3;
      transition: 0.3s ease all;
      color: #fff;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #fff;
      margin-top: 10px;
      &:hover {
        background-color: #f7a5b4;
      }
    }
    .smallSlogan {
      font-size: 10px;
      color: #f2b6e2;
    }
  }
}

@media (max-width: 768px) {
  .homeWrapper {
    padding-inline: 40px;
    .sloganWrapper {
      .subSlogan {
        margin-bottom: 20px;
      }
      .ratingButton {
        font-size: 22px;
      }
      .smallSlogan {
        font-size: 14px;
      }
    }
  }
}
