.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contentWrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid #f291a3;
  border-radius: 12px;
}
.title {
  font-size: 22px;
  font-weight: 600;
  color: #ada2f2;
}
.starWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingOverallWrapper {
  display: flex;
  .ratingOverall {
    font-size: 18px;
    color: #b7aef2;
  }
}
.descriptionWrapper {
  display: flex;
  flex-direction: column;
  .descriptionTitle {
    margin-block: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #ada2f2;
  }
  .descriptionStyle {
    border: 2px solid #ad82d9;
    border-radius: 8px;
    flex: 1;
    width: 100%;
    padding: 8px;
    min-height: 20px;
  }
}
.submitButton {
  font-size: 18px;
  background-color: #ada2f2;
  transition: 0.3s ease all;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-top: 10px;
  &:hover {
    background-color: #bfb7f4;
  }
}

@media (max-width: 768px) {
  .contentWrapper {
    border: none;
    // padding: 0px;
  }
  .starWrapper {
    justify-content: space-between;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    color: #ada2f2;
  }
  .descriptionWrapper {
    .descriptionTitle {
      font-size: 22px;
    }
  }
}
